* {
  --tw-ring-inset: var(--tw-empty, /*!*/ /*!*/);
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: #3b82f6;
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes ping {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  75%,
  100% {
    transform: scale(2);
    opacity: 0;
  }
}

@keyframes pulse {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(-25%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: translateY(0);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}
.mode-dark .dark\:text-white {
  color: #fff;
}
.text-black {
  color: #000;
}
.fixed {
  position: fixed;
}
.h-screen {
  height: 100vh;
}
.bg-white {
  background-color: #fff;
}
.opacity-0 {
  opacity: 0;
}
.transition {
  transition-property: background-color, border-color, color, fill, stroke,
    opacity, box-shadow, transform;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}
.duration-150 {
  transition-duration: 150ms;
}
.z-50 {
  z-index: 50;
}
.border-l {
  border-left-width: 1px;
}
.border-gray-200 {
  --tw-border-opacity: 1;
  border-color: rgba(228, 228, 231, var(--tw-border-opacity));
}
.mode-dark .dark\:border-gray-700 {
  --tw-border-opacity: 1;
  border-color: rgba(63, 63, 70, var(--tw-border-opacity));
}
.overflow-y-auto {
  overflow-y: auto;
}
.hidden {
  display: none;
}
.p-1 {
  padding: 0.25rem;
}
.select-none {
  user-select: none;
}
.rounded-full {
  border-radius: 9999px;
}
.flex {
  display: flex;
}
.items-center {
  align-items: center;
}
.justify-center {
  justify-content: center;
}
.h-4 {
  height: 1rem;
}
.w-4 {
  width: 1rem;
}
.mr-2 {
  margin-right: 0.5rem;
}
.absolute {
  position: absolute;
}
.m-2 {
  margin: 0.5rem;
}
.text-red-500 {
  --tw-text-opacity: 1;
  color: rgba(239, 68, 68, var(--tw-text-opacity));
}
.bg-red-100 {
  --tw-bg-opacity: 1;
  background-color: rgba(254, 226, 226, var(--tw-bg-opacity));
}
.cursor-pointer {
  cursor: pointer;
}
.hover\:text-white:hover {
  color: #fff;
}
.flex-col {
  flex-direction: column;
}
.items-end {
  align-items: flex-end;
}
.relative {
  position: relative;
}
.px-3 {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}
.mt-4 {
  margin-top: 1rem;
}
.flex-grow {
  flex-grow: 1;
}
.w-8 {
  width: 2rem;
}
.z-40 {
  z-index: 40;
}
.w-full {
  width: 100%;
}
.h-full {
  height: 100%;
}
.overflow-auto {
  overflow: auto;
}
.text-gray-600 {
  --tw-text-opacity: 1;
  color: rgba(82, 82, 91, var(--tw-text-opacity));
}

.z-0 {
  z-index: 0;
}
.bg-gradient-to-r {
  background-image: linear-gradient(to right, var(--tw-gradient-stops));
}
.from-warm-gray-100 {
  --tw-gradient-from: #f5f5f4;
  --tw-gradient-stops: var(--tw-gradient-from),
    var(--tw-gradient-to, rgba(245, 245, 244, 0));
}
.mode-dark .dark\:from-gray-900 {
  --tw-gradient-from: #18181b;
  --tw-gradient-stops: var(--tw-gradient-from),
    var(--tw-gradient-to, rgba(24, 24, 27, 0));
}
.via-gray-200 {
  --tw-gradient-stops: var(--tw-gradient-from), #e4e4e7,
    var(--tw-gradient-to, rgba(228, 228, 231, 0));
}
.mode-dark .dark\:via-gray-800 {
  --tw-gradient-stops: var(--tw-gradient-from), #27272a,
    var(--tw-gradient-to, rgba(39, 39, 42, 0));
}
.to-warm-gray-100 {
  --tw-gradient-to: #f5f5f4;
}
.mode-dark .dark\:to-warm-gray-800 {
  --tw-gradient-to: #292524;
}
.h-10 {
  height: 2.5rem;
}
.w-10 {
  width: 2.5rem;
}
.z-20 {
  z-index: 20;
}
.mb-8 {
  margin-bottom: 2rem;
}
.justify-start {
  justify-content: flex-start;
}
.text-sm {
  font-size: 0.875rem;
  line-height: 1.25rem;
}
.font-medium {
  font-weight: 500;
}
.px-8 {
  padding-left: 2rem;
  padding-right: 2rem;
}
.pr-1 {
  padding-right: 0.25rem;
}
.hover\:bg-light-blue-100:hover {
  --tw-bg-opacity: 1;
  background-color: rgba(224, 242, 254, var(--tw-bg-opacity));
}
.hover\:text-gray-800:hover {
  --tw-text-opacity: 1;
  color: rgba(39, 39, 42, var(--tw-text-opacity));
}
.focus\:ring-2:focus {
  --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0
    var(--tw-ring-offset-width) var(--tw-ring-offset-color);
  --tw-ring-shadow: var(--tw-ring-inset) 0 0 0
    calc(2px + var(--tw-ring-offset-width)) var(--tw-ring-color);
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow),
    var(--tw-shadow, 0 0 transparent);
}
.w-32 {
  width: 8rem;
}
.truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.duration-200 {
  transition-duration: 200ms;
}
.bg-transparent {
  background-color: transparent;
}
.text-xs {
  font-size: 0.75rem;
  line-height: 1rem;
}
.shadow {
  --tw-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 transparent),
    var(--tw-ring-shadow, 0 0 transparent), var(--tw-shadow);
}
.focus\:outline-none:focus {
  outline: 2px solid transparent, 2px;
}
.rounded {
  border-radius: 0.25rem;
}
.mr-3 {
  margin-right: 0.75rem;
}
.text-light-blue-500 {
  --tw-text-opacity: 1;
  color: rgba(14, 165, 233, var(--tw-text-opacity));
}
.ring-light-blue-200 {
  --tw-ring-opacity: 1;
  --tw-ring-color: rgba(186, 230, 253, var(--tw-ring-opacity));
}
.ring-0 {
  --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0
    var(--tw-ring-offset-width) var(--tw-ring-offset-color);
  --tw-ring-shadow: var(--tw-ring-inset) 0 0 0
    calc(0px + var(--tw-ring-offset-width)) var(--tw-ring-color);
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow),
    var(--tw-shadow, 0 0 transparent);
}
.mode-dark .dark\:bg-gray-700 {
  --tw-bg-opacity: 1;
  background-color: rgba(63, 63, 70, var(--tw-bg-opacity));
}
.mode-dark .dark\:text-gray-200 {
  --tw-text-opacity: 1;
  color: rgba(228, 228, 231, var(--tw-text-opacity));
}
.justify-end {
  justify-content: flex-end;
}
.outline-none {
  outline: 2px solid transparent, 2px;
}
.ring-gray-100 {
  --tw-ring-opacity: 1;
  --tw-ring-color: rgba(244, 244, 245, var(--tw-ring-opacity));
}
.text-base {
  font-size: 1rem;
  line-height: 1.5rem;
}
.h-6 {
  height: 1.5rem;
}
.w-6 {
  width: 1.5rem;
}
.hover\:ring-4:hover {
  --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0
    var(--tw-ring-offset-width) var(--tw-ring-offset-color);
  --tw-ring-shadow: var(--tw-ring-inset) 0 0 0
    calc(4px + var(--tw-ring-offset-width)) var(--tw-ring-color);
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow),
    var(--tw-shadow, 0 0 transparent);
}
.duration-500 {
  transition-duration: 500ms;
}
.hover\:ring-1:hover {
  --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0
    var(--tw-ring-offset-width) var(--tw-ring-offset-color);
  --tw-ring-shadow: var(--tw-ring-inset) 0 0 0
    calc(1px + var(--tw-ring-offset-width)) var(--tw-ring-color);
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow),
    var(--tw-shadow, 0 0 transparent);
}
.ring-light-blue-500 {
  --tw-ring-opacity: 1;
  --tw-ring-color: rgba(14, 165, 233, var(--tw-ring-opacity));
}
.mx-1 {
  margin-left: 0.25rem;
  margin-right: 0.25rem;
}
.block {
  display: block;
}
.py-24 {
  padding-top: 6rem;
  padding-bottom: 6rem;
}
.mx-auto {
  margin-left: auto;
  margin-right: auto;
}
.px-4 {
  padding-left: 1rem;
  padding-right: 1rem;
}
.text-center {
  text-align: center;
}
.text-6xl {
  font-size: 3.75rem;
  line-height: 1;
}
.pt-8 {
  padding-top: 2rem;
}
.font-bold {
  font-weight: 700;
}
.tracking-widest {
  letter-spacing: 0.1em;
}
.uppercase {
  text-transform: uppercase;
}
.mt-8 {
  margin-top: 2rem;
}
.text-lg {
  font-size: 1.125rem;
  line-height: 1.75rem;
}
.max-w-lg {
  max-width: 32rem;
}
.my-8 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.max-w-sm {
  max-width: 24rem;
}
.p-4 {
  padding: 1rem;
}
.space-y-2 > * + * {
  --tw-space-y-reverse: 0;
  margin-top: calc(0.5rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(0.5rem * var(--tw-space-y-reverse));
}
.font-mono {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
}
.my-2 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
@media (min-width: 640px) {
  .sm\:text-xs {
    font-size: 0.75rem;
    line-height: 1rem;
  }
}
@media (min-width: 640px) {
  .sm\:px-1 {
    padding-left: 0.25rem;
    padding-right: 0.25rem;
  }
}
@media (min-width: 1024px) {
  .lg\:pt-0 {
    padding-top: 0px;
  }
}
.container {
  max-width: 100%;
}
@media (min-width: 640px) {
  .container {
    max-width: 640px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}
@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}
@media (min-width: 1536px) {
  .container {
    max-width: 1536px;
  }
}

.a {
  color: #1d8ef1;
  color: rgba(29, 142, 241, var(--tw-text-opacity));
  transition-property: background-color, border-color, color, fill, stroke,
    opacity, box-shadow, transform;
  transition-duration: 0.1s;
}
